.main-container {
  width: 500px;
  margin: 100px auto;
  border-radius: 15px;
}

.main-container * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main-container > * {
  width: 100%;
}

.content-popover {
    position: relative;
    top: 10px;
    border-radius: 5px;
    border: 1px solid #cacaca;
    border-radius: 4px;
}

.list-view {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.list-view .listEntries {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  list-style-type: none;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}

.list-view .listEntries .listEntry {
  position: relative;
	cursor: pointer;
  width: 100%;
  padding: 10px;
}

.list-view .listEntries .listEntry.selected {
  background: #3b88c3;
  color: white;
}

.list-view .listEntries .listEntry .matched {
  font-weight: bold;
  text-decoration: underline;
}

.list-view .listEntries .listEntry .provider-icon {
  position: absolute;
  right: 10px;
  top: 13px;
}

.input-group-addon.provider-icon {
    width: 40px;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-filter: grayscale(100%);
}

.input-group-addon.provider-icon.feedzilla-provider {
    background-image: url(/js/providers/feedzilla/feedzilla.png);
}

.input-group-addon.provider-icon.ddg-provider {
    background-image: url(/js/providers/ddg/duckduckgo.png);
}

.input-group-addon.provider-icon.nyt-provider {
    background-image: url(/js/providers/nytimes/nyt.png);
}
